<div class="event-container">
    <div class="title">בקשות לכרטיסי חבר</div>
        <div *ngFor="let notification of notifications;let i = index">
            <div class="notification">
                    <button id="remove-hever-ask" mat-mini-fab (click)="removeHever(notification._id)">
                            <mat-icon>remove</mat-icon>
                          </button>
                    <div><span class="details"> שם : {{notification.userName}}</span></div>
                    <div><span class="details"> טלפון : {{notification.phoneNumber}}</span></div>
                    <div><span class="details"> כמה כסף מבקש : {{notification.amount}}</span></div>
                   <div><span class="details"> תאריך : {{notification.whenTo}}</span></div> 
            </div>
                    
        </div>
    </div>