<div class="event-container">
    <div *ngFor="let event of events.reverse(); let i = index">
        <app-event-card [restaurantName] = "event.restaurantName" 
                        [eventDate] = "getAsDate(event.eventDate)"
                        [attendees] = "event.attendees"
                        [isJoinable] = "event.isJoinable"
                        [canOrderFrom] = "event.canOrderFrom"
                        [description]= "event.description"
                        [id]="event._id">
        </app-event-card>
    </div>
</div>