<div class="event-container">
        <!-- <div>
            <img src="../../assets/icons/bluehever.png" alt="Smiley face" height="100" width="100">
        </div> -->
        <div>
                <h2 class="title"> בקש חבר</h2>
                <div >
                        <mat-form-field dir="ltr">
                                <input matInput [matDatepicker]="picker" placeholder="מתי" [value]="date.value">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>

                <div >
                        <mat-form-field>
                                <input class="tel-input" matInput [(ngModel)]="number" placeholder="מספר טלפון"
                                        [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                </div>

                <div >
                        <mat-form-field>
                                <input class="amount-input" matInput [(ngModel)]="amount" placeholder=" סכום כסף (שח)"
                                        [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                </div>

                <button id="btn" mat-button [disabled]="!valid()" (click)="sendHeverAsk()" routerLink="">שלח</button>
        </div>
</div>