<form class="example-form">

  <table cellspacing="0">
    <tr>
      <td>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="מתי">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="איפה" value="">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <!-- <mat-form-field>
    <textarea matInput placeholder="עם מי"></textarea>
  </mat-form-field> -->

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
               [removable]="removable" (removed)="remove(fruit)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New fruit..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>


</form>

<p>
    <mat-checkbox [(ngModel)]="checkedJoin"> ניתן להצטרף לארוחה :)</mat-checkbox>
</p>

<mat-checkbox [(ngModel)]="checkedTakeaway"> ניתן להזמין דרכנו משלוח</mat-checkbox>